@media only screen and (max-width: 377px) {
  .navbar-brand{
    color: white;
    font-size: x-small;
    font-weight: 700;
  }
}

@media only screen and (max-width: 289px) {
  .navbar-brand{
    color: white;
    font-size: xx-small;
    font-weight: 700;
  }
}

@media only screen and (max-width: 576px) {
  .jumbotron .display-4{
    margin-top: 200px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .carousel-item{
    height: 400px;
  }
  .carousel-caption .display-4{
    margin-top: -190px;
    font-size: 20px;
  }
  .carousel-caption .display-6{
    font-size: 15px;
  }
  .carousel-indicators{
    top: 350px;
  }

  .chart-info{
    margin-top: -270px;
    margin-bottom: 200px;
  }
  .chart-info .text-content{
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
/* ===========Home========== */
  /* Carousel */
.carousel-item{
  height: 450px;
}
.carousel-caption .display-4{
  margin-top: -220px;
  font-size: 25px;
}
.carousel-caption .display-6{
  font-size: 20px;
}
.carousel-indicators{
  top: 400px;
}
/* end of Carousel */
/* ===========Home========== */

/* ===========Jumbotron========== */

  .jumbotron .display-4{
    font-size: 40px;
  }
/* =========End Jumbotron======== */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/* ===========Home========== */
/* Carousel */
  .carousel-item{
    height: 500px;
  }
  .carousel-caption .display-4{
    margin-top: -250px;
    font-size: 30px;
  }
  .carousel-caption .display-6{
    font-size: 25px;
  }
  .carousel-indicators{
    top: 430px;
  }
/* end of Carousel */

/* Pendidikan */
.pendidikan .title-content-line{
  width: 25%;
  margin-left: 100px;
}
.pendidikan img{
  width: 90%;
}
/* Pendidikan */
.penelitian .title-content-line{
  width: 25%;
  margin-left: 100px;

}.penelitian img{
  height: 80%;
  margin-top: 50px;
}
.penelitian .penelitian-img{
  display: flex;
  margin: 0 auto;
  width: 35%;
  margin-top: -30px;
  z-index: 1;
}
/* Penelitian */
.penelitian .title-content-line{
  width: 25%;
  margin-left: 100px;

}.penelitian img{
  height: 80%;
  margin-top: 50px;
}
.penelitian .penelitian-img{
  display: flex;
  margin: 0 auto;
  width: 35%;
  margin-top: -30px;
  z-index: 1;
}
/* end of Penelitian */

/* =========End Home======== */

/* ===========Jumbotron========== */

  .jumbotron .display-4{
    font-size: 50px;
  }
/* =========End Jumbotron======== */

/* ===========Tentang FSB========== */
.tentang-jumbotron{
  margin-bottom: 100px;
}

.tentang-jumbotron-img{
  height: 500px;
  width: 45%;
}

.content-tentang-jumbotron{
  margin-top: -450px;
  background-color: #EAEAEA;
  padding: 20px;
  width: 70%;
  margin-right: 0;
  margin-left: auto;
}

/* =========End Tentang FSB======== */

/* ===========Pendidikan========== */
.pendidikan-jumbotron{
  margin-bottom: 200px;
}

.pendidikan-jumbotron-img{
  background-size: cover;
  height: 500px;
  width: 65%;
  margin-left: auto;
  margin-right: 0;
}

.content-pendidikan-jumbotron{
  margin-top: -450px;
  background-color: #EAEAEA;
  padding: 20px;
  width: 45%;
  height: 300px;
  margin-left: 20px;
}

.content-pendidikan-jumbotron .title-content-line{
  width: 25%;
}

.tenaga-pendidik .title-content-line{
  width: 20%;
  margin-right: 120px;
  margin-left: auto;
}

.tendik-col{
  width: 175px;
  height: 175px;
  padding: 20px;

}

.tendik-col .num-title{
  font-size: 60px;
}

.num-title::after{
  margin: 85px -47px;
}

.jurusan .title-content-line{
  width: 20%;
  margin-left: -100px;
}

.mahasiswa .title-content-line{
  width: 20%;
  margin-right: 70px;
}
/* =========End Pendidikan======== */
}

@media only screen and (max-width: 991px) {
  .btn-login{
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/* ===========Home========== */
/* Carousel */
.carousel-item{
  height: 650px;
}
.carousel-caption .display-4{
  margin-top: -350px;
  font-size: 45px;
}
.carousel-indicators{
  top: 580px;
}
/* end of Carousel */

/* Pendidikan */
  .pendidikan .title-content-line{
    width: 25%;
    margin-left: 100px;
  }
  .pendidikan img{
    width: 80%;
  }
/* end of Pendidikan */

/* Penelitian */
  .penelitian img{
    height: 100%;
    margin-top: 0;
  }
/* end of Penelitian */
/* ===========Home========== */
}